$grid-gutter: 20px !default;
$grid-max-width: 1200px + ($grid-gutter * 2) !default;
$grid-columns: 12 !default;

$breakpoint-sm: 767px !default;
$breakpoint-md: 992px !default;
$breakpoint-lg: 1200px !default;

$breakpoints: (
    "lg" "(min-width: " + $breakpoint-lg + ")",
    "md" "(min-width: " + $breakpoint-md + ") and (max-width: " + ($breakpoint-lg - 1) + ")",
    "sm" "(min-width: " + ($breakpoint-sm + 1) + ") and (max-width:" + ($breakpoint-md - 1) + ")",
    "xs" "(max-width: " + $breakpoint-sm + ")"
) !default;
